.page-header {
  text-align: right;
  line-height: 64px;
  background-color: transparent;
}

.page-content {
  text-align: center;
  color: black;
  background-color: transparent;
}

.page-footer {
  text-align: center;
  color: #fff;
  background-color: black;
  height: 256px;
}

.header {
  margin-top: 32px;
  padding-bottom: 128px;
  overflow: hidden;
}

.background {
  background-image: url("background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100vh;
}

.trailer-row {
  margin-top: 64px;
}

.trailer-text-container {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trailer-text {
  border-radius: 16px;
  background-color: rgba(224, 232, 239, 0.6);
  padding: 16px;
}

#social-media-button-twitter {
  width: 50px;
  height: 50px;
}

#social-media-button-twitter .anticon-twitter {
  font-size: 24px;
}

#social-media-button-instagram {
  width: 50px;
  height: 50px;
}

#social-media-button-instagram .anticon-instagram {
  font-size: 24px;
}

.description-container {
  height: 800px;
}