.nonhome-page-header {
  background-color: rgb(224, 216, 244);
  text-align: right;
  line-height: 64x;
}

.faq-container {
  /* fallback for old browsers */
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  padding-top: 5vh;
  padding-bottom: 12vh;
}

.faq-space {
  width: 100%;
}

.faq-item {
  background-color: white;
}