.faq-container {
  /* fallback for old browsers */
  background-color: #8EC5FC;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding-top: 8vh;
  padding-bottom: 20vh;
}

.faq-space {
  width: 100%;
}

.faq-item {
  background-color: white;
}