/*

Use breakpoints for the most commonly used device resolutions used across mobile, desktop, and tablet. These would be:

1920×1080 (8.89%) - background image
1366×768 (8.44%)
360×640 (7.28%) - background image
414×896 (4.58%)
1536×864 (3.88%) - background image
375×667 (3.75%) - background image

min-width: 320px (smaller phones)
min-width: 480px (most phones)
min-width: 768px (most tablets)
min-width: 992px (smaller desktops)
min-width: 1200px (larger desktops)

*/

.page-content {
  text-align: center;
  color: black;
  background-color: transparent;
}

.header {
  margin-top: 7vh;
  overflow: hidden;
}

.background {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100vh;
}

@media screen and (min-width: 320px) {
  .background {
    background-image: url("assets/header-background-479-691.gif");
    background-position-x: center;
  }
}

@media screen and (min-width: 480px) {
  .background {
    background-image: url("assets/header-background-766-864.gif");
    background-position-x: center;
  }
}

@media screen and (min-width: 768px) {
  .background {
    background-image: url("assets/header-background-990-864.gif");
  }
}

@media screen and (min-width: 992px) {
  .background {
    background-image: url("assets/header-background-1199-864.gif");
  }
}

@media screen and (min-width: 1200px) {
  .background {
    background-image: url("assets/header-background-1920-1080.gif");
  }
}

.trailer-row {
  margin-top: 16vh;
  justify-content: flex-end;
}

.trailer-iframe {
  border: none;
}

.home-title>img {
  width: auto;
}

@media screen and (min-width: 320px) {
  .home-title>img {
    height: 11vw;
    margin-right: 24px;
  }
}

@media screen and (min-width: 480px) {
  .home-title>img {
    height: 11vw;
    margin-right: 24px;
  }
}

@media screen and (min-width: 768px) {
  .home-title>img {
    height: 9vw;
    margin-right: 24px;
  }
}

@media screen and (min-width: 992px) {
  .home-title>img {
    height: 8vw;
    margin-right: 3vw;
  }
}

@media screen and (min-width: 1200px) {
  .home-title>img {
    height: 7vw;
    margin-right: 3vw;
    max-height: 100px;
  }
}

.screenshots-container {
  height: 100%;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding-top: 118px;
  padding-bottom: 128px;
}

.newsletter-container {
  /* Since the h2 adds on 10px of blank space */
  padding-top: 118px;
  padding-bottom: 128px;
  /* fallback for old browsers */
  background: #4AC29A;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #BDFFF3, #4AC29A);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newsletter-description {
  margin-bottom: 20px;
}

.enter-email {
  width: 30%;
}

.steam-widget-container {
  margin-top: 32px;
  position: relative;
  overflow: hidden;
  width: 100%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  padding-top: 56.25%;
}


/* Make watch trailer and steam widget section responsive */
@media screen and (min-width: 320px) and (max-width: 767px) {
  .trailer-row {
    margin-top: 24vh;
    justify-content: center;
  }

  .watch-trailer-button-modal {
    display: none;
  }

  .watch-trailer-button-container {
    margin-bottom: 24px;
  }

  .steam-widget-container {
    display: none;
  }

  .trailer-row-padding {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .wishlist-button-container {
    display: none;
  }

  .watch-trailer-button-nonmodal {
    display: none;
  }
}

/* Style the iframe to fit in the container div with full height and width; this allows for responsiveness */
.steam-widget {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.carousel-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-img {
  height: auto;
  max-width: 100%;
  width: 800px;
  border-radius: 1em;
}

.screenshots-description {
  margin-bottom: 20px;
}

.trailer-modal .ant-modal-content {
  background-color: rgb(0, 0, 0, 0);
  border-radius: 0;
  padding: 0;
  box-shadow: none;
}

.instagram-container {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  padding-top: 118px;
  padding-bottom: 20vh;
}

.scroll-down-container {
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.scroll-down-icon-container {
  font-size: 32px;
  color: rgb(0, 0, 0, 0.5)
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15%);
  }
}

.scroll-down-hover {
  display: inline-block;
  animation: move-up-down .9s infinite alternate ease-in-out;
}

.scroll-down-hover:hover {
  filter: brightness(95%);
  cursor: pointer;
}