.page-header {
  text-align: right;
  line-height: 64px;
  background-color: transparent;
}

.page-content {
  text-align: center;
  color: black;
  background-color: transparent;
}

.page-footer {
  text-align: center;
  color: black;
  background-color: rgb(224, 216, 244);
  height: 256px;
}

.header {
  margin-top: 64px;
  padding-bottom: 128px;
  overflow: hidden;
}

.background {
  background-image: url("assets/header-background.gif");
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  height: 100vh;
}

.trailer-row {
  margin-top: 128px;
}

#social-media-button-twitter {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#social-media-button-twitter .anticon-twitter {
  font-size: 24px;
}

#social-media-button-instagram {
  width: 50px;
  height: 50px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

#social-media-button-instagram .anticon-instagram {
  font-size: 24px;
}

.screenshots-container {
  height: 100%;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  padding-top: 110px;
  padding-bottom: 120px;
}


.newsletter-container {
  height: 300px;
  /* fallback for old browsers */
  background: #4AC29A;
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #BDFFF3, #4AC29A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #BDFFF3, #4AC29A);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.newsletter-description {
  margin-bottom: 20px;
}

.steam-widget-container {
  margin-top: 32px;
  position: relative;
  overflow: hidden;
  width: 100%;
  /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  padding-top: 56.25%;
}

/* Style the iframe to fit in the container div with full height and width; this allows for responsiveness */
.steam-widget {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.carousel-card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-img {
  height: auto;
  max-width: 100%;
  width: 900px;
}

.screenshots-description {
  margin-bottom: 20px;
}

.trailer-modal .ant-modal-content {
  background-color: black;
  padding: 0;
}

.instagram-container {
  background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
  padding-top: 110px;
  padding-bottom: 120px;
}

.scroll-down-container {
  position: absolute;
  bottom: 5vh;
  width: 100%;
}

.scroll-down-icon-container {
  font-size: 40px;
}

.scroll-down-text {
  margin-top: 10px;
  color: white;
  font-size: 25px;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(15%);
  }
}

.scroll-down-hover {
  display: inline-block;
  animation: move-up-down .9s infinite alternate ease-in-out;
}

.scroll-down-hover:hover {
  filter: brightness(95%);
  cursor: pointer;
}